.hidden {
	display: none;
}
.account-button {
	float: right;
	padding-right: 20px;
}
.song-entry {
	height: 40px;
	padding: 2px 2px 2px 2px;
}
#not-signedin {
	padding-left: 20px;
}
#song-progress {
	float: bottom;
	max-height: 10px;
}
#folder-view {
	float: left;
	width: 15%;
	padding-left: 10px;
}
#music-view {
	float: right;
	width: 80%;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
	max-height: 550px;
}
#folder-list {
	list-style-type: none;
}

#vol-slider {
    float: right;
    width: 75px;
    margin: 10px;
  }

#vol-slider { background: #cccccc; }
#vol-slider .ui-slider-range { background: #377bb5; }
#vol-slider .ui-slider-handle { border-color: #377bb5; }
